.tmp_versions
*.o
*.ko
*.cmd
*.order
*.mod*
*.so*
*.swp
*.orig
sub-projects/zramconfig/zramconfig
sub-projects/fstats/fstats
sub-projects/allocators/zsmalloc-kmod/.cproject
sub-projects/allocators/zsmalloc-kmod/.project
Module.symvers
Module.markers
cscope.*
.ctags*
tags
